<h1>HEY MAKE A NEW USER!!!</h1>

<%= form_with model: User.new do |form| %>

  <p>
    <%= form.label :username %><br>
    <%= form.text_field :username %>
  </p>

  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </p>

  <p>
    <%= form.label :password %><br>
    <%= form.text_field :password %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
