<!DOCTYPE html>
<html>
  <head>
    <title>GamerLink</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<header class= "nav navbar-nav-fixed-top navbar-inverse">
  <%= link_to "GML HOME logo", "#" %>
        <nav>
          <ul class= "navbar">
            <button><li><%= link_to("GamerLink", root_path) %></li></button>
            <button><li><%= link_to("Games", games_path) %></li></button>
            <button><li><%= link_to("Tournaments", tournaments_path) %></li></button>
            <button><li><%= link_to("Players", users_path) %></li></button>
            <button><li><%= link_to("New Player", users_new_path) %></li></button>
            <button><li><%= link_to("New Tournament", tournaments_new_path) %></li></button>


          </ul>
        </nav>
      </div>
</header>
    <div class="container">
      <%= yield %>
      <%= debug(params) %>
    </div>
  </body>
  </html>
